.banner {
  text-align: center;
}

.banner__background {
  padding-top: 25px;
  padding-bottom: 50%;

  background-color: #68b738;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__title {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  font-family: $oswald;
  color: #ffffff;
}

.banner__slogan {
  margin: 0;
  margin-bottom: 19px;

  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  color: #ffffff;
  text-transform: uppercase;
}

.banner__wrapper {
  width: 280px;
  margin: auto;
}

.banner__image {
  margin-top: -140px;
}

.banner__button {
  width: 280px;

  font-size: 14px;
  line-height: 18px;
}

.banner__button--top {
  display: none;
}

@media (min-width: $tablet-width) {
  .banner {
      text-align: left;
  }

  .banner__wrapper {
    width: 708px;
  }

  .banner__background {
    padding-bottom: 0;

    background: none;
  }

  .banner__image {
    width: 709px;
    height: 609px;
    margin-top: -70px;
  }

  .banner__title {
    width: 415px;
    margin-bottom: 33px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }

  .banner__slogan {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .banner__button {
    width: 245px;
  }

  .banner__button--top {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .banner__button--bottom {
    display: none;
  }
}
