.catalog__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: -100px;
  }

  .catalog__item {
    margin-bottom: 138px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    margin-right: 80px;
    margin-bottom: 140px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
