.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  color: #444444;
  text-decoration: none;
}

.copyright__link:focus path,
.copyright__link:hover path,
.copyright__link:active path {
  fill: #68b738;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 165px;
  }
}
