.example {
  padding-top: 15px;
  padding-bottom: 38px;

  background-color: #f2f2f2;
}

.example__wrapper {
  width: 280px;
  margin: auto;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  font-family: $oswald;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: $arial;
}

.example__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 44px;
  margin-right: 39px;
}

.example__slider-button {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-family: $oswald;
  text-transform: uppercase;

  cursor: pointer;
}

.example__slider-scale {
  position: relative;

  width: 84px;
  height: 14px;

  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    width: 35px;
    height: 6px;

    border-radius: 3px;
    background-color: #68b738;
  }
}

@media (max-width: $mobile-width-only) {
  .example__image {
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    padding-bottom: 70px;

    background: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 464px;

      background-color: #eaeaea;
      z-index: -1;
    }
  }

  .example__wrapper {
    width: 708px;
  }

  .example__title {
    margin-bottom: 63px;

    font-size: 60px;
  }

  .example__text {
    margin-bottom: 53px;

    line-height: 24px;
  }

  .example__left-column {
    margin-bottom: 55px;
  }

  .example__image {
    margin-bottom: 8px;
    padding-left: 15px;
  }

  .example__slider {
    width: 570px;
    margin: auto;
  }

  .example__slider-scale {
    width: 428px;
    height: 6px;

    border-radius: 2px;
    border: none;
    background-color: #dcdcdc;

    &::before {
      display: none;
    }
  }

  .example__slider-controls {
    position: relative;
    top: -14px;
    left: 47%;
    width: 34px;
    height: 34px;

    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      top: 40%;
      left: 37%;

      width: 8px;
      height: 8px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }

  .example__slider-button {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted #dcdcdc;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 1220px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    margin-bottom: 69px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .example__left-column {
    width: 430px;
  }

  .example__right-column {
    width: 630px;
  }

  .example__image {
    margin-top: -200px;
  }
}
