.extra-product {
  padding-top: 14px;
  padding-bottom: 17px;
}

.extra-product__name {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  font-family: $oswald;
  text-transform: uppercase;
}

.extra-product__button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.extra-product__properties {
  width: 100%;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-family: $arial;

  border-spacing: 0;
  border-collapse: collapse;

  tr {
    display: flex;
    justify-content: space-between;
  }

  td {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .extra-product {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 26px 37px;
  }

  .extra-product__name {
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;
  }

  .extra-product__button {
    width: 633px;
  }

  .extra-product__properties {
    width: auto;
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;

    td {
      min-width: 45px;
      margin-left: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-product {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .extra-product__name {
    margin: 0;
    margin-right: auto;
  }

  .extra-product__properties {
    width: 290px;
    margin: 0;
    margin-right: 39px;

    td {
      margin-left: 0;
    }
  }

  .extra-product__button {
    width: 245px;
  }
}
