.features__wrapper {
  width: 280px;
  margin: auto;
}

.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  font-family: $oswald;
}

.features__list {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: #444444;

  list-style-type: none;
}

.features__item {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    width: 708px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    width: 250px;
    margin-right: 100px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    width: 1200px;
  }

  .features__list {
    justify-content: space-between;
  }

  .features__item {
    width: 245px;
    margin-right: 0;
  }
}
