.highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.highlights__block {
  position: relative;

  margin-bottom: 33px;

  text-align: center;
}

.highlights__title {
  display: block;
  width: 124px;
  padding-top: 13px;
  padding-bottom: 18px;

  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-family: $oswald;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.highlights__desc {
  position: absolute;
  bottom: -16px;
  left: 0;

  width: 100%;
  margin: 0;

  text-align: center;

  span {
    display: inline-block;
    max-width: 90px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
    line-height: 12px;
    color: #444444;
    font-family: $arial;

    background-color: #f2f2f2;
  }
}

.highlights__text {
  flex-grow: 1;

  margin: 0;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 20px;
  color: #111111;
  font-family: $oswald;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .highlights {
    align-items: center;
  }

  .highlights__block {
    margin-right: 42px;
  }

  .highlights__title {
    width: 162px;
    padding-bottom: 20px;

    font-size: 30px;
    line-height: 37px;
  }

  .highlights__desc {
    bottom: -7px;
  }

  .highlights__desc span {
    max-width: initial;
    padding-right: 7px;
    padding-left: 7px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .highlights__text {
    max-width: 174px;
    margin-left: auto;

    font-size: 20px;
    line-height: 25px;
    text-align: right;
  }

  .highlights__text span {
    display: block;

    &:first-child {
      margin-bottom: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .highlights {
    width: 270px;
  }

  .highlights__block {
    margin-right: 0;
  }

  .highlights__text {
    max-width: 370px;
    margin-left: 0;
    margin-bottom: 0;

    text-align: left;
  }

  .highlights__desc span {
    background-color: #eaeaea;
  }
}
