.main-menu {
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-weight: 500;
  font-family: $oswald;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  list-style-type: none;
}

.main-menu__item {
  border-top: 1px solid #ededed;
}

.main-menu__link {
  display: block;
  padding-top: 18px;
  padding-bottom: 17px;

  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    padding-left: 10px;

    font-size: 18px;
    font-weight: 400;
  }

  .main-menu__item {
    border: none;
  }

  .main-menu__link {
    padding-top: 27px;
  }

  .main-menu__link--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      height: 2px;

      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-menu--index {
    color: #ffffff;

    .main-menu__link:hover,
    .main-menu__link:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    .main-menu__link:active {
      color: rgba(255, 255, 255, 0.3);
    }

    .main-menu__link--active::after {
      background-color: #ffffff;
    }
  }

  .main-menu {
    font-size: 20px;
    line-height: 25px;
  }

  .main-menu__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}
