.main-nav {
  width: 280px;
  margin: auto;
}

.main-nav__logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 11px;
}

.main-nav__index-link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__logo-image {
  width: 191px;
  height: 39px;
}

.main-nav__menu-toggle {
  width: 24px;
  height: 20px;
  margin-right: 2px;
  padding: 0;

  border: none;
  background-color: #ffffff;
  background-image: url("/img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--nojs .main-nav__menu-toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  .main-nav__logo-image {
    width: 174px;
    height: 60px;
  }

  .main-nav__menu-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1220px;
  }

  .main-nav__logo-container {
    margin-top: 42px;
  }

  .main-nav__logo-image {
    width: 203px;
    height: 59px;
  }

  .main-nav__wrapper {
    margin-top: 45px;
  }
}
