.page-header__banner {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 14px;
  }

  .page-header__banner {
    margin-bottom: 0;
  }

  .page-header__main-nav {
    margin-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    margin-top: 0;
  }

  .page-header--index .page-header__main-nav {
    margin-bottom: 65px;
  }

  .page-header__main-nav {
    margin-bottom: 62px;
  }

  .page-header__banner {
    margin-bottom: 138px;
  }

  .page-header--index::after {
    content: "";
    width: 50%;
    height: 109%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;

    background-color: #68b738;
    background-image: url("/img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/index-background-desktop@2x.jpg");
    }
  }
}
