.page-main__wrapper {
  width: 280px;
  margin: auto;
}

.page-main__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  font-family: $oswald;
  color: #111111;
}

.page-main__banner {
  margin-bottom: 20px;
}

.page-main__programs {
  margin-bottom: 30px;
}

.page-main__features {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    width: 708px;
  }

  .page-main__title {
    margin-bottom: 155px;

    font-size: 60px;
  }

  .page-main__programs {
    margin-bottom: 50px;
  }

  .page-main__features {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    width: 1200px;
  }

  .page-main__programs {
    margin-bottom: 80px;
  }

  .page-main__features {
    margin-bottom: 25px;
  }
}
