.page-main {
  display: block;

  overflow: hidden;
}

.page-main__wrapper {
  width: 320px;
  margin: auto;
  margin-top: 16px;
}

.page-main__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  font-family: $oswald;
  color: #111111;
}

.page-main__title--form {
  margin-bottom: 27px;
}

.page-main__programs {
  margin-bottom: 15px;
}

.page-main__features {
  margin-bottom: 45px;
}

.page-main__form {
  margin-bottom: 34px;
}

.page-main__catalog {
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    width: 708px;
  }

  .page-main__title {
    margin-bottom: 165px;
    padding-top: 25px;
    padding-left: 0;

    font-size: 60px;
  }

  .page-main__title--form {
    margin-bottom: 55px;
  }

  .page-main__text {
    margin-bottom: 69px;

    font-size: 20px;
    line-height: 30px;
  }

  .page-main__programs {
    margin-bottom: 45px;
  }

  .page-main__features {
    margin-bottom: 0;
  }

  .page-main__form {
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    width: 1220px;
    margin-top: 60px;
  }

  .page-main__title {
    padding-top: 0;
  }

  .page-main__programs {
    margin-bottom: 70px;
  }

  .page-main__features {
    margin-bottom: 0;
  }

  .page-main__catalog {
    margin-bottom: 34px;
  }

  .page-main__extra {
    margin-bottom: 85px;
  }

  .page-main__form {
    margin-bottom: 82px;
  }
}
