.page-header__wrapper {
  width: 280px;
  margin: auto;
}

.page-header__logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 15px;
}

.page-header__banner {
  margin-bottom: 22px;
}

.page-header__menu-toggle {
  width: 19px;
  height: 19px;
  padding: 0;

  border: none;
  background-color: #222222;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 14px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin-bottom: 11px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 60px;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__banner {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    margin-top: 0;
  }

  .page-header__wrapper {
    width: 1200px;
    margin-bottom: 110px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 59px;
  }

  .page-header__banner {
    margin-bottom: 140px;
  }

  .page-header--index::after {
    content: "";
    width: 50%;
    height: 110%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;

    background-color: #68b738;
    background-image: url("/img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
