.product {
  width: 320px;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-top: 1px solid #ededed;
}

.product__image,
.product__description {
  display: inline-block;
  vertical-align: middle;
}

.product__name {
  width: 75px;
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: $oswald;
  color: #111111;
  text-transform: uppercase;
}

.product__properties {
  width: 135px;

  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: #444444;

  tr {
    display: flex;
    justify-content: space-between;
  }
}

.product__button {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    padding-right: 35px;
    padding-bottom: 40px;
    padding-left: 35px;

    text-align: center;

    border: none;
    background-color: #f2f3f3;
  }

  .product__image {
    width: 161px;
    height: 172px;
    margin-top: -70px;
    margin-bottom: 39px;
  }

  .product__image--big {
    width: 195px;
    height: 208px;
    margin-top: -107px;
  }

  .product__name {
    width: 130px;
    margin: auto;
    margin-bottom: 28px;

    font-size: 20px;
  }

  .product__properties {
    width: 250px;
    margin-bottom: 30px;

    font-size: 16px;

    tr {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid #cdcdcd;
    }
  }

  .product__button {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__properties {
    width: 170px;
  }

  .product__button {
    width: 170px;
  }
}
