.product {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 25px;

  border-top: 1px solid #ededed;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}

.product__description {
  padding-top: 20px;
}

.product__name {
  width: 75px;
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: $oswald;
  color: #111111;
  text-transform: uppercase;
}

.product__properties {
  width: 140px;

  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: #444444;

  border-collapse: collapse;
  border-spacing: 0;

  tr {
    display: flex;
    justify-content: space-between;
  }

  td {
    padding: 0;
  }
}

.product__button {
  width: 280px;
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;

    flex-direction: column;
    align-items: center;

    text-align: center;

    border: none;
    background-color: #f2f3f3;
  }

  .product__image {
    margin-top: -47px;
    margin-bottom: 17px;
  }

  .product__image--big {
    margin-top: -82px;
  }

  .product__description {
    padding-top: 16px;
  }

  .product__name {
    width: 130px;
    margin: auto;
    margin-bottom: 20px;

    font-size: 20px;
  }

  .product__properties {
    width: 250px;
    margin-bottom: 30px;

    font-size: 16px;

    tr {
      padding-top: 7px;
      padding-bottom: 8px;

      border-bottom: 1px solid #cdcdcd;
    }
  }

  .product__button {
    width: 250px;
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__properties {
    width: 170px;
  }

  .product__button {
    width: 170px;
  }
}
