.programs__wrapper {
  width: 280px;
  margin: auto;
}

.programs__item {
  margin-bottom: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: #f2f3f3;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__heading {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.programs__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;

  border-radius: 50%;
  background-color: #68b738;
}

.programs__title {
  max-width: 150px;
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  font-family: $oswald;
  color: #111111;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  margin-bottom: 25px;
  padding-bottom: 23px;

  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: #444444;

  border-bottom: 1px solid #cdcdcd;
}

.programs__link {
  position: relative;

  font-size: 16px;
  line-height: 16px;
  font-family: $oswald;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -40px;
    width: 25px;
    height: 12px;

    background-color: #111111;
  }
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    width: 708px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 81px;
    padding-right: 62px;
    padding-bottom: 62px;
    padding-left: 52px;
  }

  .programs__title {
    font-size: 36px;
  }

  .programs__icon {
    display: none;
  }

  .programs__description {
    max-width: 370px;
    margin-bottom: 60px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    display: flex;
    width: 1200px;
  }

  .programs__item {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .programs__icon {
    display: block;
    width: 100px;
    height: 100px;
  }

  .programs__title {
    max-width: 300px;
  }

  .programs__description {
    max-width: 500px;
  }
}
