.promo {
  width: 280px;

  background-color: #68b738;
  background-image: url("/img/icon-gift.svg"), url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 56px 61px, cover;
  background-position: center 65px, center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/icon-gift.svg"), url("/img/gift-photo-mobile@2x.jpg");
  }
}

.promo__text {
  max-width: 160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 187px;
  padding-bottom: 43px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: $arial;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 708px;

    background-image: url("/img/icon-gift.svg"), url("/img/gift-photo-tablet@1x.jpg");
    background-position: 91px 65px, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/icon-gift.svg"), url("/img/gift-photo-tablet@2x.jpg");
    }
  }

  .promo__text {
    max-width: none;
    padding-top: 72px;
    padding-right: 125px;
    padding-bottom: 68px;
    padding-left: 424px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;

    background-image: url("/img/icon-gift.svg"), url("/img/gift-photo-desktop@1x.jpg");
    background-position: center 65px, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/gift-photo-desktop@2x.jpg");
    }
  }

  .promo__text {
    width: 160px;
    margin: auto;
    padding-top: 187px;
    padding-bottom: 43px;
    padding-left: 0;
    padding-right: 0;

    text-align: center;
  }
}
