.promo {
  width: 280px;

  background-color: #68b738;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/gift-photo-mobile@2x.jpg");
  }
}

.promo__text {
  margin: 0;
  padding: 0;
  padding-top: 190px;
  padding-right: 60px;
  padding-bottom: 43px;
  padding-left: 60px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: $arial;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 708px;

    background-image: url("/img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/gift-photo-tablet@2x.jpg");
    }
  }

  .promo__text {
    padding-top: 75px;
    padding-right: 125px;
    padding-bottom: 69px;
    padding-left: 424px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;

    background-image: url("/img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/gift-photo-desktop@2x.jpg");
    }
  }

  .promo__text {
    padding-top: 190px;
    padding-left: 43px;
    padding-bottom: 43px;
    padding-right: 43px;
  }
}
