.show-more {
  position: relative;

  width: 320px;
  padding-top: 78px;
  padding-right: 19px;
  padding-bottom: 24px;
  padding-left: 19px;

  text-align: center;

  border: 1px solid #ededed;

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 45%;

    width: 31px;
    height: 31px;

    background-image: url("/img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: #111111;
  text-transform: uppercase;
}

.show-more__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: #444444;
}

.show-more__button {
  width: 280px;
  padding-top: 12px;
  padding-bottom: 11px;

  color: #444444;

  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .show-more::before {
    top: 55px;
    left: 41%;

    width: 61px;
    height: 61px;

    background-image: url("/img/icon-plus.svg");
  }

  .show-more {
    width: 324px;
    padding-top: 164px;
    padding-right: 35px;
    padding-bottom: 38px;
    padding-left: 35px;

    border: 1px solid #cdcdcd;
  }

  .show-more__title {
    display: inline-block;
    width: 135px;
    margin-bottom: 28px;

    font-size: 20px;
  }

  .show-more__text {
    display: inline-block;
    width: 170px;
    margin-bottom: 86px;

    font-size: 16px;
  }

  .show-more__button {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;

    &::before {
      left: 38%;
    }
  }

  .show-more__button {
    width: 170px;
  }
}
