.social {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }
}
